{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}
    <h1 class="ea-page-title">Statistics for {{ property.title }}</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Views</div>
                <div class="card-body">
                    <p>Total Views: {{ stats.total_views }}</p>
                    <p>Views Last Week: {{ stats.views_last_week }}</p>
                    <p>Views Last Month: {{ stats.views_last_month }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Messages</div>
                <div class="card-body">
                    <p>Total Messages: {{ stats.total_messages }}</p>
                    <p>Pending Messages: {{ stats.pending_messages }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
