{% extends 'base_admin.html.twig' %}

{% block title %}Modifier {{ user.fullName }} - Admin TOUTLUX{% endblock %}

{% block page_title %}
    <i class="fas fa-user-edit"></i> Modifier {{ user.fullName }}
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_user_index') }}">Utilisateurs</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_user_show', {'id': user.id}) }}">{{ user.fullName }}</a></li>
        <li class="breadcrumb-item active">Modifier</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <!-- Alerte si modifications -->
            {% if form.vars.submitted and not form.vars.valid %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <h5><i class="icon fas fa-ban"></i> Erreur!</h5>
                    Veuillez corriger les erreurs dans le formulaire.
                </div>
            {% endif %}

            <form action="{{ path('admin_user_update', {'id': user.id}) }}" method="post" enctype="multipart/form-data">
                {{ form_start(form) }}

                <div class="row">
                    <!-- Colonne principale -->
                    <div class="col-md-8">
                        <!-- Informations personnelles -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Informations personnelles</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.firstName) }}
                                            {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.firstName) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.lastName) }}
                                            {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.lastName) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.email) }}
                                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.email) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.phoneNumber) }}
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                                </div>
                                                {{ form_widget(form.phoneNumber, {'attr': {'class': 'form-control', 'placeholder': '+228 90 00 00 00'}}) }}
                                            </div>
                                            {{ form_errors(form.phoneNumber) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            {{ form_label(form.birthDate) }}
                                            {{ form_widget(form.birthDate, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.birthDate) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            {{ form_label(form.gender) }}
                                            {{ form_widget(form.gender, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.gender) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            {{ form_label(form.nationality) }}
                                            {{ form_widget(form.nationality, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.nationality) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.bio) }}
                                    {{ form_widget(form.bio, {'attr': {'class': 'form-control', 'rows': 3}}) }}
                                    {{ form_errors(form.bio) }}
                                </div>
                            </div>
                        </div>

                        <!-- Localisation -->
                        <div class="card card-success">
                            <div class="card-header">
                                <h3 class="card-title">Localisation</h3>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    {{ form_label(form.address) }}
                                    {{ form_widget(form.address, {'attr': {'class': 'form-control', 'rows': 2}}) }}
                                    {{ form_errors(form.address) }}
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            {{ form_label(form.city) }}
                                            {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.city) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            {{ form_label(form.postalCode) }}
                                            {{ form_widget(form.postalCode, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.postalCode) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            {{ form_label(form.country) }}
                                            {{ form_widget(form.country, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.country) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Informations professionnelles -->
                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title">Informations professionnelles et financières</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.occupation) }}
                                            {{ form_widget(form.occupation, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.occupation) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.employer) }}
                                            {{ form_widget(form.employer, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.employer) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.monthlyIncome) }}
                                            <div class="input-group">
                                                {{ form_widget(form.monthlyIncome, {'attr': {'class': 'form-control'}}) }}
                                                <div class="input-group-append">
                                                    <span class="input-group-text">€</span>
                                                </div>
                                            </div>
                                            {{ form_errors(form.monthlyIncome) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.preferredLanguage) }}
                                            {{ form_widget(form.preferredLanguage, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.preferredLanguage) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Colonne latérale -->
                    <div class="col-md-4">
                        <!-- État du compte et actions -->
                        <div class="card card-warning">
                            <div class="card-header">
                                <h3 class="card-title">État du compte</h3>
                            </div>
                            <div class="card-body">
                                <!-- Informations actuelles -->
                                <div class="info-box">
                                    <span class="info-box-icon bg-info">
                                        <i class="fas fa-star"></i>
                                    </span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Score de confiance</span>
                                        <span class="info-box-number">
                                            {{ user.trustScore }}/5
                                            <div class="text-warning">
                                                {% for i in 1..5 %}
                                                    {% if i <= user.trustScore %}
                                                        <i class="fas fa-star"></i>
                                                    {% else %}
                                                        <i class="far fa-star"></i>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </span>
                                    </div>
                                </div>

                                <div class="info-box">
                                    <span class="info-box-icon bg-success">
                                        <i class="fas fa-percentage"></i>
                                    </span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Profil complété</span>
                                        <span class="info-box-number">{{ user.profileCompletionPercentage }}%</span>
                                        <div class="progress">
                                            <div class="progress-bar bg-success" style="width: {{ user.profileCompletionPercentage }}%"></div>
                                        </div>
                                    </div>
                                </div>

                                <hr>

                                <!-- Statuts -->
                                <div class="form-group">
                                    <div class="custom-control custom-switch">
                                        {{ form_widget(form.isActive) }}
                                        {{ form_label(form.isActive, 'Compte actif', {'label_attr': {'class': 'custom-control-label'}}) }}
                                    </div>
                                    {{ form_errors(form.isActive) }}
                                </div>

                                <div class="form-group">
                                    <div class="custom-control custom-switch">
                                        {{ form_widget(form.isVerified) }}
                                        {{ form_label(form.isVerified, 'Email vérifié', {'label_attr': {'class': 'custom-control-label'}}) }}
                                    </div>
                                    {{ form_errors(form.isVerified) }}
                                </div>

                                <!-- Rôles -->
                                <div class="form-group">
                                    {{ form_label(form.roles) }}
                                    {{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(form.roles) }}
                                </div>

                                <hr>

                                <!-- Actions spéciales -->
                                <div class="form-group">
                                    <button type="button" class="btn btn-sm btn-info btn-block" id="resetPassword">
                                        <i class="fas fa-key"></i> Réinitialiser le mot de passe
                                    </button>
                                    <button type="button" class="btn btn-sm btn-warning btn-block" id="recalculateScore">
                                        <i class="fas fa-calculator"></i> Recalculer le score
                                    </button>
                                    {% if user.googleId %}
                                        <button type="button" class="btn btn-sm btn-danger btn-block" id="unlinkGoogle">
                                            <i class="fab fa-google"></i> Délier compte Google
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <!-- Photo de profil -->
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Photo de profil</h3>
                            </div>
                            <div class="card-body text-center">
                                {% if user.profilePicture %}
                                    <img src="{{ asset('uploads/users/' ~ user.profilePicture) }}"
                                         alt="Photo actuelle"
                                         class="img-thumbnail mb-3"
                                         style="max-width: 200px;">
                                    <div class="custom-control custom-checkbox mb-2">
                                        <input type="checkbox" class="custom-control-input" id="removePhoto" name="removePhoto">
                                        <label class="custom-control-label" for="removePhoto">
                                            Supprimer la photo actuelle
                                        </label>
                                    </div>
                                {% else %}
                                    <div class="img-thumbnail mb-3 d-flex align-items-center justify-content-center"
                                         style="width: 200px; height: 200px; margin: 0 auto;">
                                        <i class="fas fa-user fa-5x text-muted"></i>
                                    </div>
                                {% endif %}

                                <div class="form-group">
                                    {{ form_label(form.profilePicture) }}
                                    {{ form_widget(form.profilePicture, {'attr': {'class': 'form-control-file', 'accept': 'image/*'}}) }}
                                    {{ form_errors(form.profilePicture) }}
                                    <small class="form-text text-muted">
                                        JPG, PNG. Max 2MB
                                    </small>
                                </div>

                                <div id="imagePreview"></div>
                            </div>
                        </div>

                        <!-- Actions -->
                        <div class="card">
                            <div class="card-body">
                                <button type="submit" class="btn btn-primary btn-block">
                                    <i class="fas fa-save"></i> Enregistrer les modifications
                                </button>
                                <a href="{{ path('admin_user_show', {'id': user.id}) }}"
                                   class="btn btn-default btn-block">
                                    <i class="fas fa-times"></i> Annuler
                                </a>

                                <hr>

                                <button type="button" class="btn btn-danger btn-sm btn-block" id="deleteUser">
                                    <i class="fas fa-trash"></i> Supprimer l'utilisateur
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                {{ form_end(form) }}
            </form>
        </div>
    </div>

    <!-- Modal changement mot de passe -->
    <div class="modal fade" id="passwordModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Réinitialiser le mot de passe</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Nouveau mot de passe</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="newPassword" readonly>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="generateNewPassword">
                                    <i class="fas fa-sync"></i> Générer
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="sendPasswordEmail" checked>
                        <label class="custom-control-label" for="sendPasswordEmail">
                            Envoyer le nouveau mot de passe par email
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary" id="confirmPasswordReset">
                        <i class="fas fa-check"></i> Confirmer
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_javascripts %}
    <script>
        $(document).ready(function() {
            // Preview image
            $('#user_profilePicture').change(function() {
                const file = this.files[0];
                if (file) {
                    const reader = new FileReader();
                    reader.onload = function(e) {
                        $('#imagePreview').html(`
                    <img src="${e.target.result}" class="img-thumbnail mt-2" style="max-width: 200px;">
                `);
                    }
                    reader.readAsDataURL(file);
                }
            });

            // Format téléphone
            $('#user_phoneNumber').on('input', function() {
                let value = $(this).val().replace(/\s/g, '');
                if (value.length > 3 && !value.startsWith('+')) {
                    value = value.match(/.{1,2}/g).join(' ');
                }
                $(this).val(value);
            });

            // Réinitialiser mot de passe
            $('#resetPassword').click(function() {
                $('#passwordModal').modal('show');
                generatePassword();
            });

            function generatePassword() {
                const chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789!@#$%^&*';
                let password = '';
                for (let i = 0; i < 12; i++) {
                    password += chars.charAt(Math.floor(Math.random() * chars.length));
                }
                $('#newPassword').val(password);
            }

            $('#generateNewPassword').click(generatePassword);

            $('#confirmPasswordReset').click(function() {
                const newPassword = $('#newPassword').val();
                const sendEmail = $('#sendPasswordEmail').is(':checked');

                $.post('{{ path('admin_user_reset_password', {'id': user.id}) }}', {
                    password: newPassword,
                    sendEmail: sendEmail,
                    _token: '{{ csrf_token('reset_password') }}'
                })
                    .done(function() {
                        $('#passwordModal').modal('hide');
                        alert('Mot de passe réinitialisé avec succès');
                    })
                    .fail(function() {
                        alert('Erreur lors de la réinitialisation');
                    });
            });

            // Recalculer le score
            $('#recalculateScore').click(function() {
                if (confirm('Recalculer le score de confiance de cet utilisateur ?')) {
                    $(this).prop('disabled', true).html('<i class="fas fa-spinner fa-spin"></i> Calcul...');

                    $.post('{{ path('admin_user_recalculate_score', {'id': user.id}) }}', {
                        _token: '{{ csrf_token('recalculate_score') }}'
                    })
                        .done(function(response) {
                            alert(`Nouveau score : ${response.score}/5`);
                            location.reload();
                        })
                        .fail(function() {
                            alert('Erreur lors du recalcul');
                            $('#recalculateScore').prop('disabled', false).html('<i class="fas fa-calculator"></i> Recalculer le score');
                        });
                }
            });

            // Délier Google
            $('#unlinkGoogle').click(function() {
                if (confirm('Délier le compte Google de cet utilisateur ?')) {
                    $.post('{{ path('admin_user_unlink_google', {'id': user.id}) }}', {
                        _token: '{{ csrf_token('unlink_google') }}'
                    })
                        .done(function() {
                            alert('Compte Google délié avec succès');
                            location.reload();
                        })
                        .fail(function() {
                            alert('Erreur lors de la suppression du lien');
                        });
                }
            });

            // Supprimer l'utilisateur
            $('#deleteUser').click(function() {
                if (confirm('ATTENTION : Cette action est irréversible. Supprimer définitivement cet utilisateur et toutes ses données ?')) {
                    if (confirm('Êtes-vous vraiment sûr ? Cette action supprimera aussi ses propriétés, messages et documents.')) {
                        $.post('{{ path('admin_user_delete', {'id': user.id}) }}', {
                            _token: '{{ csrf_token('delete_user') }}'
                        })
                            .done(function() {
                                window.location.href = '{{ path('admin_user_index') }}';
                            })
                            .fail(function() {
                                alert('Erreur lors de la suppression');
                            });
                    }
                }
            });

            // Validation du formulaire
            $('form').on('submit', function(e) {
                // Vérifier l'email
                const email = $('#user_email').val();
                if (!isValidEmail(email)) {
                    e.preventDefault();
                    alert('Email invalide');
                    return false;
                }

                // Vérifier le téléphone si renseigné
                const phone = $('#user_phoneNumber').val();
                if (phone && !isValidPhone(phone)) {
                    e.preventDefault();
                    alert('Numéro de téléphone invalide');
                    return false;
                }
            });

            function isValidEmail(email) {
                const re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                return re.test(email);
            }

            function isValidPhone(phone) {
                const re = /^[\d\s\-\+\(\)]+$/;
                return re.test(phone);
            }
        });
    </script>
{% endblock %}
